### Python ###
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VSCODE and Python linter specefic
.vscode/**

# Nix results
/result

# Env file
.env
.direnv

# Pyrogram
*.session
